/*
Theme Name:     Child
Author:         faithHighway
Author URI:     http://faithHighway.com/
Template:       grove
Version:        0.1.0
*/

@import url("../grove/style.css");

/* Remove if responsive */
#gr_mob_nav_trg {display: none;}